
h1{
font-family:helvetica;
font-size:50px;
color-purily:helvetica;
font-size:50px;
colour- violet;
text-alighn:center;
font-style:italic;
font-weight:900;
text-align:center;
font-style:italic;
font-weight:800
}/*This is adding background color to my website*/
body{
  background-color:indigo
}
